.popup-back{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 50;
}
.popup-back .popop-content{
    width: 50%;
    height: 450px;
    background-color: white;
    border-radius: 8px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.popup-back .popop-content .close-popup{
    font-weight: bold;
    font-size: 30px;
    /* float: right; */
    position: absolute;
    right: 15px;
    cursor: pointer;
}
.close-popup:hover{
    color: red;
}

.content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.text{
    font-size: 15px;
    font-weight: bold;
}